@* <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script> *@


<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title></title></head>
    <body>
    <span>Category</span>
    </body>
</html>